 body {
    
}

.background {
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(22,121,9,0.8491771708683473) 0%, rgba(2,87,15,1) 0%, rgba(19,135,46,1) 3%, rgba(0,212,255,1) 100%);
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}